<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <textarea name="name" id="text" cols="10" rows="8">
      <p>sks<img src="null" alt="" onerror="alert(1)"/></p>
    </textarea>
  <button type="button" name="button" id="btn">评论</button>
  <button type="button" name="button" id="get">获取评论</button>
  </body>
</html>
